body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gray;
}

.messages {
    position: absolute;
    inset : 0;
    top: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.message {
    overflow: hidden;
    border: solid 2px var(--color);
    animation: MessageIn 1s;
    padding: .5rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: whitesmoke;
}


.meta {
    display: flex;
    align-items: baseline;
    color: var(--color);
    font-weight: bold;
}


.separator {
    color: var(--color);
    font-weight: bolder;
}


.content {
    color: black;
    font-weight: lighter;
}


.badges {
    display: flex;
    align-items: center;
}


.badges img {
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
}


@keyframes MessageIn {
    from {transform: translateX(40px); opacity: 0;
    max-height: 0;}
    to {transform: translateX(0); opacity: 1;
    max-height: 400px;}
}